@use 'base' as *;
.header {
    @include navSpacing();
    margin: 0rem 8rem;

    a {
        text-decoration: none;
        color: $main-color;
    }

    .logo {
        width: 50%rem;
        height: 5rem;
    }
}

 // Buttons
 .general_style_button {
    @include paragraphStyle(1.125rem, 600);
    align-items: center;
    background-color: $secondary-color;
    border-radius: 6.25rem;
    box-sizing: border-box;
    color: $main-color;
    justify-content: center;
    max-width: 12.50rem;
    min-height: 3.135rem;
    overflow: hidden;
    padding: 0px 1.25rem;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    vertical-align: middle;

    a {
        color: $main-color;
    }
    
    &:disabled {
        cursor: not-allowed;
        background-color: rgba(0, 0, 0, .08);
        color: rgba(0, 0, 0, .3); 
    }
}


// Footer
footer {
    @include displayFlex(row, start, start);
    padding: 4rem 8.50rem;
    background: linear-gradient(205deg, #222222, #3c3c3c);

    h1, h2, p, a {
        color: $secondary-color;
    }

    h2 {
        @include titleStyle(1.4rem, 600);
    }

    p {
        @include paragraphStyle(1.125rem);
        padding-top: 1rem;
    }

    a {
        text-decoration: none;
    }

    .divider {
        width: 0.1rem;
        background-color: $secondary-color;
        margin: 0 0.3rem; 
    }

    .left {
        width: calc(30% - 0.3rem);
        padding-right: 4rem;

        h1, span {
            @include titleStyle(2rem, 600);
            color: $secondary-color;
        }

        span {
            color: $accent-color;
        }

    }

    .right {
        @include displayFlex(row, space-around, start);
        width: calc(70% - 0.3rem);

        div {
            margin-left: 4rem;
        }
    }
}


// Media queries
@media only screen and (min-width: 1921px) {
    .header {
        p {
            @include paragraphStyle(2rem);
        }
    }
    
    .general_style_button {
        @include paragraphStyle(1.5rem, 600);
        padding: 0rem 3rem;
        max-width: 22rem;
        min-height: 4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .header {
        margin: 0rem 6rem;
    }
    footer {
        @include displayFlex(column, start, start);
        padding: 3rem 6.50rem;
    
        .left {
            width: 100%;
            padding: 0rem;
        }
    
        .right {
            width: 100%;
    
            div {
                margin: 4rem 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        margin: 0 2.5rem;

        p {
            @include paragraphStyle(1rem);
        }
    }

    .general_style_button {
        @include paragraphStyle(1rem, 600);
        min-height: 2.5rem;
        padding: 0.5rem 1rem;
    }

    footer {
        @include displayFlex(column, start, start);
        padding: 2rem 2.5rem;
    
        .left {
            width: 100%;
            padding: 0rem;
        }
    
        .right {
            @include displayFlex(column, center, start);
            width: 100%;
    
            div {
                margin: 2.5rem 0 0 0;
            }
        }
    }
}