@use 'base' as *;

.contact {
    @include displayFlex(column, center, center);
    min-height: 85vh;
    padding: 0 5%;

    &_content {
        @include displayFlex(row, center, start);
        margin-bottom: 6rem;

        h1 {
            @include titleStyle(8rem);
            margin-bottom: 1rem;
        }

        h2 {
            @include titleStyle(3rem);
            text-decoration: underline;
            color: $accent-color;
            background-color: $main-color;
            padding: 1rem 0.5rem;
        }

        p {
            @include paragraphStyle();
        }

        &_left {
            width: 50%;
            margin-right: 2rem;
            @include displayFlex(column, start, end);
            
            p {
                width: 80%;
                text-align: end;
                margin-bottom: 4rem;
            }
        }

        &_right {
            width: 50%;
            margin-left: 2rem;
            @include displayFlex(column, end, start);

            h2 {
                margin-bottom: 0.5rem;
            }
        }

        > div:nth-child(2) {
            align-self: flex-end;
        }
    }
}


// Media queries
@media only screen and (min-width: 1921px) {
    .contact {
        &_content {
            margin-bottom: 6rem;
    
            h1 {
                @include titleStyle(9rem);
                margin-bottom: 1rem;
            }
    
            h2 {
                @include titleStyle(4rem);
            }
    
            p {
                @include paragraphStyle(2rem);
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .contact {
        @include displayFlex(column, start, center);
        min-height: auto;
        margin-top: 5rem;
    
        &_content {
            @include displayFlex(column, center, center);
            margin-bottom: 0rem;
    
            &_left {
                @include displayFlex(column, center, center);
                width: 80%;
                margin-right: 0rem;
                text-align: center;
                
                p {
                    width: 80%;
                    text-align: center;
                    margin: 2rem 0 0 0;
                }
            }
    
            &_right {
                @include displayFlex(column, center, center);
                width: 80%;
                margin: 0 0 6rem 0;
    
                h2 {
                    margin: 6rem 0rem 0.5rem 0;
                }
            }
    
            > div:nth-child(2) {
                align-self: center;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .contact {
        @include displayFlex(column, start, center);
        min-height: auto;
        margin-top: 1rem;
    
        &_content {
            @include displayFlex(column, center, center);
            margin-bottom: 3rem;

            h1 {
                @include titleStyle(5rem);
                margin: 0rem;
                text-align:center;
            }
    
            h2 {
                @include titleStyle(1.75rem);
            }
    
            p {
                @include paragraphStyle(1.25rem);
            }
    
            &_left {
                @include displayFlex(column, center, center);
                width: 80%;
                margin-right: 0rem;
                
                p {
                    width: 80%;
                    text-align: center;
                    margin: 2rem 0 0 0;
                }
            }
    
            &_right {
                @include displayFlex(column, center, center);
                width: 80%;
                margin-left: 0rem;
    
                h2 {
                    margin: 3rem 0rem 0.5rem 0;
                }
                p {
                    @include paragraphStyle(1rem);
                    text-align: center;
                }
            }
    
            > div:nth-child(2) {
                align-self: center;
            }
        }
    }
}