@use 'base' as *;

.landing {
    @include displayFlex(row, center, center);
    min-height: 85vh;

    &_content {
        @include displayFlex(column, center, center);

        h1, p {
            color: $main-color;
        }

        h1 {
            @include titleStyle(8rem, 600);
            line-height: 9rem;
            text-shadow: 2px 2px 2px $main-color;
        }

        p {
            @include paragraphStyle(2.25rem);
            margin-top: 2rem;
            font-style: italic;
            text-align: center;
            color: $main-color;
        }

        .start_guide_button {
            margin-top: 3rem;
        }

        .scroll_reminder {
            margin-top: 4rem;
            animation: bounce 4s infinite;

            .arrow {
                width: 10rem;
                height: 10rem;
            }

            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    transform: translateY(0);
                }
                40% {
                    transform: translateY(20px);
                }
                60% {
                    transform: translateY(10px);
                }
            }
        }
    }
}

.about {
    @include displayFlex(row, start, center);
    margin: 3rem 0;

    &_container {
        width: 60%;
        margin: 7.50rem 0rem;
    
        p {
            @include paragraphStyle();
            width: 43.75rem;
            color: $main-color;
            margin: 2rem 0 0 16.25rem;
        }
    
        &_title_1 {
            @include titleStyle();
            margin: 0 0 0 8.75rem;
            text-shadow: -0.63rem -0.63rem 0.20rem #22222230;
        }
        
        &_title_2 {
            @include titleStyle();
            margin: 0 0 0 15rem;
            font-style: italic;
            color: $main-color;
        }
    }

    &_asset {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
            height: 50%;
        }
    }
}


// Media queries
@media only screen and (min-width: 1921px) {
    .landing {
        &_content {
            h1 {
                @include titleStyle(12rem);
            }
            p {
                margin-top: 4rem;
                @include paragraphStyle(3rem);
            }
            .scroll_reminder {
                margin-top: 4rem;
                animation: bounce 2s infinite;
    
                .arrow {
                    width: 15rem;
                    height: 15rem;
                }
    
                @keyframes bounce {
                    0%, 20%, 50%, 80%, 100% {
                        transform: translateY(0);
                    }
                    40% {
                        transform: translateY(10px);
                    }
                    60% {
                        transform: translateY(5px);
                    }
                }
            }
        }
    }

    .about {
        &_container {
            p {
                @include paragraphStyle(2rem);
            }
        
            &_title_1 {
                @include titleStyle(8rem);
            }
            
            &_title_2 {
                @include titleStyle(8rem);
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .landing {
        min-height: auto;
    
        &_content {
            @include displayFlex(column, center, start);
            margin: 6rem 6rem 6rem 6rem;
    
            h1, p {
                width: 100%;
                margin-left: 0rem;
                color: $main-color;
                text-align: start;
            }
    
            .start_guide_button {
                margin: 3rem 0 0 0;
            }

            .scroll_reminder {
                margin-top: 4rem;
                animation: bounce 2s infinite;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .arrow {
                    width: 13rem;
                    height: 13rem;
                }
    
                @keyframes bounce {
                    0%, 20%, 50%, 80%, 100% {
                        transform: translateY(0);
                    }
                    40% {
                        transform: translateY(10px);
                    }
                    60% {
                        transform: translateY(5px);
                    }
                }
            }
        }
    }

    .about {
        @include displayFlex(column, center, start);
        margin: 0rem 0 6rem 0;

        &_container {
            width: 80%;
            padding-bottom: 0rem;
            margin: 0 0 6rem 6rem;
        
            p {
                @include paragraphStyle(1.5rem);
                width: 90%;
                margin: 2rem 0 0 0;
            }
        
            &_title_1 {
                @include titleStyle(6rem);
                margin: 6rem 0 0 0rem;
            }
            
            &_title_2 {
                @include titleStyle(6rem);
                margin: 0 0 0 0rem;
            }
        }

        &_asset {
            img {
                width: 60%;
                height: 60%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .landing {
        min-height: auto;
    
        &_content {
            margin: 3rem 3rem 3rem 3rem;
    
            h1, p {
                width: 100%;
                margin-left: 0rem;
                text-align: start;
            }

            h1 {
                @include titleStyle(4rem);
                line-height: 5rem;
            }
    
            p {
                @include paragraphStyle(1.5rem);
                margin-top: 2rem;
            }
    
            .start_guide_button {
                margin: 3rem 0 0 0;
            }
        }
    }

    .about {
        @include displayFlex(column, start, start);

        &_container {
            width: 80%;
            padding-bottom: 0rem;
            margin: 0rem 3rem 3rem 3rem;

            h1 {
                margin: 0;
            }
        
            p {
                @include paragraphStyle(1.5rem);
                width: 90%;
                margin: 2rem 0 0 0;
            }
        
            &_title_1 {
                @include titleStyle(3rem);
            }
            
            &_title_2 {
                @include titleStyle(3rem);
            }
        }

        &_asset {
            display: none;
            img {
                width: 80%;
                height: 80%;
            }
        }
    }
}