@use 'base' as *;

.landing {
    @include displayFlex(row, start, center);
    min-height: 85vh;

    &_content {
        @include displayFlex(column, center, start);
        margin-bottom: 6rem;

        h1, p {
            margin-left: 8.75rem;
            color: $main-color;
        }

        h1 {
            font-family: $font-raleway;
            font-weight: 600;
            font-size: 8.88rem;
            line-height: 9rem;
            text-shadow: 2px 2px 2px $main-color;
        }

        p {
            font-family: $font-open_sans;
            font-weight: 400;
            font-style: italic;
            font-size: 2.25rem;
            margin-top: 2rem;
        }

        .start_guide_button {
            margin: 3rem 0 0 8.75rem;
        }
    }
}




// Media queries
@media only screen and (min-width: 1921px) {
    .landing {
        &_content {
            h1 {
                font-size: 14rem;
            }
            p {
                font-size: 3rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .landing {
        min-height: auto;
    
        &_content {
            @include displayFlex(column, center, start);
            margin: 6rem 0 6rem 6rem;
    
            h1, p {
                width: 80%;
                margin-left: 0rem;
                color: $main-color;
            }
    
            .start_guide_button {
                margin: 3rem 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .landing {
        min-height: auto;
    
        &_content {
            margin: 3rem 3rem 3rem 3rem;
    
            h1, p {
                width: 100%;
                margin-left: 0rem;
            }

            h1 {
                font-size: 4rem;
                line-height: 5rem;
            }
    
            p {
                font-size: 1.5rem;
                margin-top: 2rem;
            }
    
            .start_guide_button {
                margin: 3rem 0 0 0;
            }
        }
    }
}