@use 'base' as *;

.landing {
    @include displayFlex(row, start, center);
    min-height: 85vh;

    &_content {
        @include displayFlex(column, center, start);
        margin-bottom: 6rem;

        h1, p {
            margin-left: 8.75rem;
            color: $main-color;
        }

        h1 {
            font-family: $font-raleway;
            font-weight: 600;
            font-size: 8.88rem;
            line-height: 9rem;
            text-shadow: 2px 2px 2px $main-color;
        }

        p {
            font-family: $font-open_sans;
            font-weight: 400;
            font-style: italic;
            font-size: 2.25rem;
            margin-top: 2rem;
        }

        .start_guide_button {
            margin: 3rem 0 0 8.75rem;
        }
    }
}

.about {
    @include displayFlex(row, start, center);
    // margin: 0rem 6rem;

    &_container {
        width: 60%;

        margin: 7.50rem 0rem;
    
        p {
            width: 43.75rem;
            color: $main-color;
            font-family: $font-open_sans;
            font-weight: 400;
            font-size: 1.75rem;
            margin: 2rem 0 0 16.25rem;
        }
    
        &_title_1 {
            font-family: $font-raleway;
            font-size: 7rem;
            margin: 0 0 0 8.75rem;
            text-shadow: -0.63rem -0.63rem 0.20rem #22222230;
        }
        
        &_title_2 {
            font-family: $font-raleway;
            font-size: 7rem;
            margin: 0 0 0 15rem;
            font-style: italic;
            color: $main-color;
        }
    }

    &_asset {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
            height: 50%;
        }
    }
}

.characters {
    margin: 7.50rem 6rem;

    &_title {
        font-family: $font-raleway;
        font-size: 7rem;
        margin: 0 0 0 8.75rem;
    }

    &_wrapper {
        @include displayFlex(row, space-around, start);
        padding: 4rem 0;
        margin-bottom: 0 auto;

        .box {
            @include displayFlex(column, center, center);
            position: relative;
            width: 22rem;
            height: 28rem;
            overflow: hidden;
            border-bottom: 2px solid black;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-position: center;
            }

            h1 {
                
            }
        }
    }
}


// Media queries
@media only screen and (min-width: 1921px) {
    .landing {
        &_content {
            h1 {
                font-size: 14rem;
            }
            p {
                font-size: 3rem;
            }
        }
    }

    .about {
        &_container {
            p {
                font-size: 2rem;
            }
        
            &_title_1 {
                font-size: 8rem;
            }
            
            &_title_2 {
                font-size: 8rem;
            }
        }
    }

    .characters {
        &_title {
            font-size: 8rem;
        }
    
        &_wrapper {
            padding: 4rem 0;
            margin: 0 auto;
    
            .box {
                @include displayFlex(column, center, center);
                width: 30rem;
                height: 40rem;
                border-radius: 3px;
                border-bottom: 4px solid black;

                h1 {
                    margin-top: 0.25rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .landing {
        min-height: auto;
    
        &_content {
            @include displayFlex(column, center, start);
            margin: 6rem 0 6rem 6rem;
    
            h1, p {
                width: 80%;
                margin-left: 0rem;
                color: $main-color;
            }
    
            .start_guide_button {
                margin: 3rem 0 0 0;
            }
        }
    }

    .about {
        @include displayFlex(column, center, start);

        &_container {
            width: 80%;
            padding-bottom: 0rem;
            margin: 0 0 6rem 6rem;
        
            p {
                width: 90%;
                font-size: 1.5rem;
                margin: 2rem 0 0 0;
            }
        
            &_title_1 {
                font-size: 6rem;
                margin: 6rem 0 0 0rem;
            }
            
            &_title_2 {
                font-size: 6rem;
                margin: 0 0 0 0rem;
            }
        }

        &_asset {
            img {
                width: 60%;
                height: 60%;
            }
        }
    }

    .characters {
        margin: 0rem 0rem;

        &_title {
            font-size: 6rem;
            margin: 6rem 0 0 6rem;
        }
    
        &_wrapper {
            @include displayFlex(column, center, center);
            gap: 6rem;
            padding: 4rem 0;
            margin-bottom: 4rem;

            h1 {
                display: block;
                font-size: 2.5rem;
                font-family: $font-open_sans;
                font-weight: 700;
                margin-top: 0.25rem;
            }
    
            .box {
                @include displayFlex(column, center, center);
                width: 30rem;
                height: 40rem;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .landing {
        min-height: auto;
    
        &_content {
            margin: 3rem 3rem 3rem 3rem;
    
            h1, p {
                width: 100%;
                margin-left: 0rem;
            }

            h1 {
                font-size: 4rem;
                line-height: 5rem;
            }
    
            p {
                font-size: 1.5rem;
                margin-top: 2rem;
            }
    
            .start_guide_button {
                margin: 3rem 0 0 0;
            }
        }
    }

    .about {
        @include displayFlex(column, start, start);

        &_container {
            width: 80%;
            padding-bottom: 0rem;
            margin: 6rem 3rem 3rem 3rem;

            h1 {
                margin: 0;
            }
        
            p {
                width: 90%;
                font-size: 1.5rem;
                margin: 2rem 0 0 0;
            }
        
            &_title_1 {
                font-size: 3rem;
            }
            
            &_title_2 {
                font-size: 3rem;
            }
        }

        &_asset {
            img {
                width: 80%;
                height: 80%;
            }
        }
    }

    .characters {
        @include displayFlex(column, center, center);
        margin: 0rem 0rem;

        &_title {
            width: 80%;
            font-size: 3rem;
            margin: 6rem 0 0 2rem;
        }
    
        &_wrapper {
            @include displayFlex(column, center, center);
            gap: 2rem;
            padding: 4rem 0;
            margin-bottom: 0rem;

            h1 {
                display: block;
                font-size: 2rem;
                margin-top: 0.25rem;
            }
    
            .box {
                @include displayFlex(column, center, center);
                width: 20rem;
                height: 30rem;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}