@use 'base' as *;

// Left side questions
.wrapper_left {
    @include displayFlex(row, center, center);
    width: 100%;
    min-height: 85vh;
    padding: 0 5%;
    gap: 6rem;

    &_content {
        opacity: 0;
        transform: translateX(-100%);

        @include displayFlex(column, center, start);
        width: calc(50%);
        margin: 0 0 2rem 6rem;
        gap: 1rem;

        h1 {
            @include titleStyle(5.5rem);
            margin-bottom: 3rem;
        }
        .circle_container {
            @include displayFlex(row, start, center);
            gap: 1rem;

            .question {
                width: 2rem;
                height: 2rem;
            }

            input[type=radio] {
                accent-color: $main-color;
            }

            .checkmark {
                @include paragraphStyle(1.75rem, 600);
            }
        }
        .button_wrapper {
            @include displayFlex(row, center, center);
            margin-top: 1rem;

            button {
                margin-right: 1rem;
            }
        }
        #error_message {
            @include paragraphStyle(1.5rem);
            margin-top: 1rem;
            color: red
        }
    }

    &_assets {
        opacity: 0;
        transform: translateX(100%);
    }
}

// Media queries
@media only screen and (min-width: 1921px) {
    .wrapper_left {
        &_content {
            gap: 1.5rem;
    
            h1 {
                @include titleStyle(6.5rem);
            }
            .circle_container {
                gap: 1.5rem;
    
                .checkmark {
                    @include paragraphStyle(1.75rem, 600);
                }
            }
            #error_message {
                @include paragraphStyle(1.75rem, 600);
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .wrapper_left {
        @include displayFlex(column, center, start);
        gap: 3rem;
        min-height: auto;

        &_content {
            width: 70%;
            margin: 3rem 0 6rem 6rem;

            h1 {
                @include titleStyle(3.5rem);
            }
        }

        &_assets {
            display: none;
        }
    }
}

@media only screen and (max-width: 767px) {
    .wrapper_left {
        @include displayFlex(column, center, start);
        gap: 0rem;
        min-height: auto;
        padding: 0;

        &_content {
            width: 70%;
            margin: 3rem 0 3rem 3rem;

            h1 {
                @include titleStyle(2.5rem);
                margin-bottom: 1rem;
            }

            .circle_container {
                .checkmark {
                    @include paragraphStyle(1.25rem, 600);
                }
            }
            #error_message {
                @include paragraphStyle(1.25rem, 600);
            }
        }

        &_assets {
            display: none;
        }
    }
}